// Colors
$primaryColorDark: #455A64
$primaryColor: #546E7A
$accentColor: #1abc9c
$accentColorHover: #16a085
$successColor: #2ecc71
$errorColor: #e74c3c
$bgColor: #ECEFF1
$fontColor: #424242

// Fonts
@font-face
    font-family: "Pacifico"
    src: url("../fonts/Pacifico-Regular.ttf")

@font-face 
    font-family: "Roboto"
    src: url("../fonts/Roboto-Light.ttf") format("truetype")

@font-face 
    font-family: "Roboto"
    src: url("../fonts/Roboto-Bold.ttf") format("truetype")
    font-weight: bold