// Colors
$primaryColorDark: #263238
$primaryColor: #37474f
$accentColor: #16a085
$accentColorHover: #12876f
$successColor: #2ecc71
$errorColor: #e74c3c
$bgColor: #E5E5E5
$fontColor: #424242

// Fonts
@font-face
    font-family: "Pacifico"
    src: url("../fonts/Pacifico-Regular.ttf")

@font-face 
    font-family: "Roboto"
    src: url("../fonts/Roboto-Light.ttf") format("truetype")

@font-face 
    font-family: "Roboto"
    src: url("../fonts/Roboto-Bold.ttf") format("truetype")
    font-weight: bold