// Colors
$primaryColorDark: #2c3e50
$primaryColor: #34495e
$accentColor: #4CAF50
$errorColor: #f44336
$bgColor: #CFD8DC




@font-face 
    font-family: "Ubuntu"
    src: url("../fonts/Ubuntu-Light.ttf") format("truetype")
