@import "_variables"

body
    background-color: $bgColor !important
    font-family: Roboto
    color: $fontColor !important
    font-size: 16px !important

.breadcrumb
    background-color: white !important

label
    color: $fontColor !important

.btn
    border: 0 !important
    font-size: 15px !important
    font-weight: bold
    transition: all 0.2s ease 0s
    &:hover
        transition: all 0.2s ease 0s

.btn-default
    color: white !important
    background-color: $primaryColor !important
    &:hover
        background-color: $primaryColorDark !important
        color: white

.btn-autoescola
    background-color: $accentColor !important
    color: white !important
    &:hover
        background-color: $accentColorHover !important
        color: white !important

.breadcrumb
    border-radius: 0px !important

.card-box 
    background-color: white
    padding: 10px
    .card-accent
        color: $accentColor
        font-size: 35px
    .card-body-title
        font-size: 35px

.card-box-test
    background-color: rgba(0,0,0,0) !important
    a, span
        color: $primaryColor !important
    &:hover
        background-color: $primaryColor !important
        a, span
            color: white !important
    .card-test-accent
        color: white
        font-weight: bold

.panel-default
    border: 0 !important
    border-radius: 0 !important
    .panel-heading
        color: white !important
        background-color: $primaryColor !important
        border-radius: 0px !important
    
.active
    color: $accentColor

.fa
    font-size: 16px !important
    vertical-align: middle !important
  

nav 
    background-color: $primaryColor !important
    border: 0 !important
    color: white !important
    .icon-bar
        color: white !important
        background-color: white !important
    .collapsed
        &:hover, &:active, &:visited, &:link
            background-color: rgba(0,0,0,0) !important
    .navbar-brand
        color: white !important
        font-size: 30px
        font-family: Pacifico !important    
        &:hover 
            color: $accentColor !important
    .navbar-nav
        .active
            background-color: rgba(0,0,0,0) !important
            color: $accentColor !important
        li
            a
                color: white !important
                &:hover
                    color: $accentColor !important     
    .dropdown
        li
            a
                color: $primaryColorDark !important
    .open > a, 
    .open > a:hover, 
    .open > a:focus
        background-color: transparent !important
        color: $accentColor !important
    .navbar-right
        .dropdown-menu
            text-align: right !important
            min-width: 200px
            a
                font-weight: normal !important
            p
                padding-right: 20px
            .cerrar-sesion
                color: red !important
        .cerrar-sesion
            color: $errorColor !important

.table > tbody > tr > td    
    vertical-align: middle
.taula-respostes-test
    max-width: 90% !important
    margin: 10px auto !important
    margin-bottom: 30px !important

.taula-respostes-test tr, 
.taula-respostes-test td, 
.taula-respostes-test th
    color: #757575 !important
    padding: 5px !important

.tr-no-hover:hover 
    background-color: white !important

.label
    vertical-align: middle
    font-weight: normal
    font-size: 14px

.label-success
    background-color: $accentColor !important
    font-size: 14px !important

.label-danger
    background-color: $errorColor !important
    font-size: 14px !important

.label-warning
    background-color: $warningColor !important
    font-size: 14px !important

.label-resposta
    display: block
    width: 90px !important
    padding: 5px !important
    vertical-align: middle

.btn-float
    border-radius: 50% !important
    width: 60px
    height: 60px
    position: fixed
    bottom: 50px
    .fa 
        line-height: 45px
        font-size: 20px !important

.btn-float-add
    right: 50px


.btn-float-del
    left: 50px

li .active
    background-color: $accentColor !important

.img-pregunta
    border: 2px solid $primaryColor
    width: 140px
    height: 140px
    border-radius: 50%

.valign-form
    margin-top: 3px

.caixa-semafor
    display: none

.anim-semafor
    position: fixed
    right: 0
    bottom: 0
    margin-bottom: -500px
    z-index: -1
    animation: show-semafor
    animation-duration: 2s
    animation-timing-function: ease-in-out
    animation-fill-mode: forwards

@keyframes show-semafor 
    0%
        margin-bottom: -500px
    60%
        margin-bottom: -20px
    75%
        margin-bottom: -10px
    70% 
        margin-bottom: -20px
    75%
        margin-bottom: -10px
    80%
        margin-bottom: -20px
    85%
        margin-bottom: -10px
    90%
        margin-bottom: -20px
    93%
        margin-bottom: -10px
    95%
        margin-bottom: -7px
    98%
        margin-bottom: -3px
    100%
        margin-bottom: 0px

.semafor-verd
    position: absolute
    bottom: 0
    margin-bottom: 220px
    left: 0
    margin-left: 13px
    width: 150px
    height: 150px
    border-radius: 50%
    background-color: rgba(0,0,0,0)
    animation: llum-verda
    animation-duration: 0.5s
    animation-delay: 1.5s
    animation-fill-mode: forwards

@keyframes llum-verda
    0%
        background-color: rgba(0,0,0,0)
    60%
        background: -moz-radial-gradient(center, ellipse cover,  rgba(71,255,50,0.38) 0%, rgba(78,187,37,0.28) 33%, rgba(78,183,36,0.1) 35%, rgba(37,94,18,0.13) 57%, rgba(35,89,17,0.12) 58%, rgba(0,0,0,0.08) 77%)
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(71,255,50,0.38) 0%,rgba(78,187,37,0.28) 33%,rgba(78,183,36,0.1) 35%,rgba(37,94,18,0.13) 57%,rgba(35,89,17,0.12) 58%,rgba(0,0,0,0.08) 77%)
        background: radial-gradient(ellipse at center,  rgba(71,255,50,0.38) 0%,rgba(78,187,37,0.28) 33%,rgba(78,183,36,0.1) 35%,rgba(37,94,18,0.13) 57%,rgba(35,89,17,0.12) 58%,rgba(0,0,0,0.08) 77%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6147ff32', endColorstr='#14000000',GradientType=1 )
    75%
        background: -moz-radial-gradient(center, ellipse cover,  rgba(71,255,50,1) 0%, rgba(78,187,37,0.4) 33%, rgba(78,183,36,0.38) 35%, rgba(37,94,18,0.13) 57%, rgba(35,89,17,0.12) 58%, rgba(0,0,0,0.08) 77%)
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(71,255,50,1) 0%,rgba(78,187,37,0.4) 33%,rgba(78,183,36,0.38) 35%,rgba(37,94,18,0.13) 57%,rgba(35,89,17,0.12) 58%,rgba(0,0,0,0.08) 77%)
        background: radial-gradient(ellipse at center,  rgba(71,255,50,1) 0%,rgba(78,187,37,0.4) 33%,rgba(78,183,36,0.38) 35%,rgba(37,94,18,0.13) 57%,rgba(35,89,17,0.12) 58%,rgba(0,0,0,0.08) 77%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47ff32', endColorstr='#14000000',GradientType=1 )
    90%
        background: -moz-radial-gradient(center, ellipse cover,  rgba(71,255,50,0.38) 0%, rgba(78,187,37,0.28) 33%, rgba(78,183,36,0.1) 35%, rgba(37,94,18,0.13) 57%, rgba(35,89,17,0.12) 58%, rgba(0,0,0,0.08) 77%)
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(71,255,50,0.38) 0%,rgba(78,187,37,0.28) 33%,rgba(78,183,36,0.1) 35%,rgba(37,94,18,0.13) 57%,rgba(35,89,17,0.12) 58%,rgba(0,0,0,0.08) 77%)
        background: radial-gradient(ellipse at center,  rgba(71,255,50,0.38) 0%,rgba(78,187,37,0.28) 33%,rgba(78,183,36,0.1) 35%,rgba(37,94,18,0.13) 57%,rgba(35,89,17,0.12) 58%,rgba(0,0,0,0.08) 77%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6147ff32', endColorstr='#14000000',GradientType=1 )
    100%
        background: -moz-radial-gradient(center, ellipse cover,  rgba(71,255,50,1) 0%, rgba(78,187,37,0.4) 33%, rgba(78,183,36,0.38) 35%, rgba(37,94,18,0.13) 57%, rgba(35,89,17,0.12) 58%, rgba(0,0,0,0.08) 77%)
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(71,255,50,1) 0%,rgba(78,187,37,0.4) 33%,rgba(78,183,36,0.38) 35%,rgba(37,94,18,0.13) 57%,rgba(35,89,17,0.12) 58%,rgba(0,0,0,0.08) 77%)
        background: radial-gradient(ellipse at center,  rgba(71,255,50,1) 0%,rgba(78,187,37,0.4) 33%,rgba(78,183,36,0.38) 35%,rgba(37,94,18,0.13) 57%,rgba(35,89,17,0.12) 58%,rgba(0,0,0,0.08) 77%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47ff32', endColorstr='#14000000',GradientType=1 )

.semafor-taronja
    position: absolute
    bottom: 0
    margin-bottom: 280px
    left: 0
    margin-left: 13px
    width: 150px
    height: 150px
    border-radius: 50%
    background-color: rgba(0,0,0,0)
    animation: llum-taronja
    animation-duration: 0.5s
    animation-delay: 1.5s
    animation-fill-mode: forwards

@keyframes llum-taronja
    0%
        background-color: rgba(0,0,0,0)
    60%
        background: -moz-radial-gradient(center, ellipse cover,  rgba(247,125,49,0.5) 0%, rgba(244,111,48,0.4) 33%, rgba(244,110,48,0.1) 35%, rgba(158,90,31,0.13) 57%, rgba(150,86,29,0.12) 58%, rgba(0,0,0,0.08) 77%)
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(247,125,49,0.5) 0%,rgba(244,111,48,0.4) 33%,rgba(244,110,48,0.1) 35%,rgba(158,90,31,0.13) 57%,rgba(150,86,29,0.12) 58%,rgba(0,0,0,0.08) 77%)
        background: radial-gradient(ellipse at center,  rgba(247,125,49,0.5) 0%,rgba(244,111,48,0.4) 33%,rgba(244,110,48,0.1) 35%,rgba(158,90,31,0.13) 57%,rgba(150,86,29,0.12) 58%,rgba(0,0,0,0.08) 77%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f77d31', endColorstr='#14000000',GradientType=1 )
    75%
        background: -moz-radial-gradient(center, ellipse cover,  rgba(247,125,49,1) 0%, rgba(244,111,48,0.4) 33%, rgba(244,110,48,0.38) 35%, rgba(158,90,31,0.13) 57%, rgba(150,86,29,0.12) 58%, rgba(0,0,0,0.08) 77%)
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(247,125,49,1) 0%,rgba(244,111,48,0.4) 33%,rgba(244,110,48,0.38) 35%,rgba(158,90,31,0.13) 57%,rgba(150,86,29,0.12) 58%,rgba(0,0,0,0.08) 77%)
        background: radial-gradient(ellipse at center,  rgba(247,125,49,1) 0%,rgba(244,111,48,0.4) 33%,rgba(244,110,48,0.38) 35%,rgba(158,90,31,0.13) 57%,rgba(150,86,29,0.12) 58%,rgba(0,0,0,0.08) 77%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f77d31', endColorstr='#14000000',GradientType=1 )
    90%
        background: -moz-radial-gradient(center, ellipse cover,  rgba(247,125,49,0.5) 0%, rgba(244,111,48,0.4) 33%, rgba(244,110,48,0.1) 35%, rgba(158,90,31,0.13) 57%, rgba(150,86,29,0.12) 58%, rgba(0,0,0,0.08) 77%)
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(247,125,49,0.5) 0%,rgba(244,111,48,0.4) 33%,rgba(244,110,48,0.1) 35%,rgba(158,90,31,0.13) 57%,rgba(150,86,29,0.12) 58%,rgba(0,0,0,0.08) 77%)
        background: radial-gradient(ellipse at center,  rgba(247,125,49,0.5) 0%,rgba(244,111,48,0.4) 33%,rgba(244,110,48,0.1) 35%,rgba(158,90,31,0.13) 57%,rgba(150,86,29,0.12) 58%,rgba(0,0,0,0.08) 77%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f77d31', endColorstr='#14000000',GradientType=1 )
    100%
        background: -moz-radial-gradient(center, ellipse cover,  rgba(247,125,49,1) 0%, rgba(244,111,48,0.4) 33%, rgba(244,110,48,0.38) 35%, rgba(158,90,31,0.13) 57%, rgba(150,86,29,0.12) 58%, rgba(0,0,0,0.08) 77%)
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(247,125,49,1) 0%,rgba(244,111,48,0.4) 33%,rgba(244,110,48,0.38) 35%,rgba(158,90,31,0.13) 57%,rgba(150,86,29,0.12) 58%,rgba(0,0,0,0.08) 77%)
        background: radial-gradient(ellipse at center,  rgba(247,125,49,1) 0%,rgba(244,111,48,0.4) 33%,rgba(244,110,48,0.38) 35%,rgba(158,90,31,0.13) 57%,rgba(150,86,29,0.12) 58%,rgba(0,0,0,0.08) 77%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f77d31', endColorstr='#14000000',GradientType=1 )

.semafor-vermell
    position: absolute
    bottom: 0
    margin-bottom: 345px
    left: 0
    margin-left: 13px
    width: 150px
    height: 150px
    border-radius: 50%
    background-color: rgba(0,0,0,0)
    animation: llum-vermella
    animation-duration: 0.5s
    animation-delay: 1.5s
    animation-fill-mode: forwards


@keyframes llum-vermella
    0%
        background-color: rgba(0,0,0,0)
    50%
        background: -moz-radial-gradient(center, ellipse cover,  rgba(255,50,50,1) 0%, rgba(255,50,50,0.32) 36%, rgba(150,30,30,0.1) 51%, rgba(144,29,29,0.26) 52%, rgba(0,0,0,0.05) 77%)
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,50,50,1) 0%,rgba(255,50,50,0.32) 36%,rgba(150,30,30,0.1) 51%,rgba(144,29,29,0.26) 52%,rgba(0,0,0,0.05) 77%)
        background: radial-gradient(ellipse at center,  rgba(255,50,50,1) 0%,rgba(255,50,50,0.32) 36%,rgba(150,30,30,0.1) 51%,rgba(144,29,29,0.26) 52%,rgba(0,0,0,0.05) 77%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#0d000000',GradientType=1 )
    75%
        background: -moz-radial-gradient(center, ellipse cover,  rgba(255,50,50,1) 0%, rgba(255,50,50,0.32) 36%, rgba(150,30,30,0.4) 51%, rgba(144,29,29,0.26) 52%, rgba(0,0,0,0.05) 77%)
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,50,50,1) 0%,rgba(255,50,50,0.32) 36%,rgba(150,30,30,0.4) 51%,rgba(144,29,29,0.26) 52%,rgba(0,0,0,0.05) 77%)
        background: radial-gradient(ellipse at center,  rgba(255,50,50,1) 0%,rgba(255,50,50,0.32) 36%,rgba(150,30,30,0.4) 51%,rgba(144,29,29,0.26) 52%,rgba(0,0,0,0.05) 77%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#0d000000',GradientType=1 )
    90%
        background: -moz-radial-gradient(center, ellipse cover,  rgba(255,50,50,1) 0%, rgba(255,50,50,0.32) 36%, rgba(150,30,30,0.1) 51%, rgba(144,29,29,0.26) 52%, rgba(0,0,0,0.05) 77%)
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,50,50,1) 0%,rgba(255,50,50,0.32) 36%,rgba(150,30,30,0.1) 51%,rgba(144,29,29,0.26) 52%,rgba(0,0,0,0.05) 77%)
        background: radial-gradient(ellipse at center,  rgba(255,50,50,1) 0%,rgba(255,50,50,0.32) 36%,rgba(150,30,30,0.1) 51%,rgba(144,29,29,0.26) 52%,rgba(0,0,0,0.05) 77%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#0d000000',GradientType=1 )
    100%
        background: -moz-radial-gradient(center, ellipse cover,  rgba(255,50,50,1) 0%, rgba(255,50,50,0.32) 36%, rgba(150,30,30,0.4) 51%, rgba(144,29,29,0.26) 52%, rgba(0,0,0,0.05) 77%)
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,50,50,1) 0%,rgba(255,50,50,0.32) 36%,rgba(150,30,30,0.4) 51%,rgba(144,29,29,0.26) 52%,rgba(0,0,0,0.05) 77%)
        background: radial-gradient(ellipse at center,  rgba(255,50,50,1) 0%,rgba(255,50,50,0.32) 36%,rgba(150,30,30,0.4) 51%,rgba(144,29,29,0.26) 52%,rgba(0,0,0,0.05) 77%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#0d000000',GradientType=1 )

.bg
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.6) !important
    z-index: -2
