@import "_variables"

body
    background-color: $bgColor !important
    font-family: Roboto
    color: $fontColor !important
    font-size: 15px !important

.breadcrumb
    background-color: white !important

label
    color: $fontColor !important

.btn
    border: 0 !important
    font-size: 15px !important
    font-weight: bold
    transition: all 0.2s ease 0s
    &:hover
        transition: all 0.2s ease 0s

.btn-default
    color: white !important
    background-color: $primaryColor !important
    &:hover
        background-color: $primaryColorDark !important
        color: white

.btn-autoescola
    background-color: $accentColor !important
    color: white !important
    &:hover
        background-color: $accentColorHover !important
        color: white !important

.breadcrumb
    border-radius: 0px !important

.card-box 
    background-color: white
    padding: 10px
    .card-accent
        color: $accentColor
        font-size: 30px
    .card-body-title
        font-size: 30px

.card-box-test
    background-color: rgba(0,0,0,0) !important
    a, span
        color: $primaryColor !important
    &:hover
        background-color: $primaryColor !important
        a, span
            color: white !important
    .card-test-accent
        color: white
        font-weight: bold

.panel-default
    border: 0px !important
    .panel-heading
        color: $primaryColor !important
        background-color: white !important
        border-radius: 0px !important
    
.active
    color: $accentColor

.fa
    font-size: 16px !important
    vertical-align: middle !important
  

nav 
    background-color: $primaryColor !important
    border: 0 !important
    color: white !important
    .navbar-brand
        color: white !important
        font-weight: bold
        
        &:hover 
            color: $accentColor !important
    .navbar-nav
        .active
            background-color: rgba(0,0,0,0) !important
            color: $accentColor !important
        li 
            a
                color: white !important
                &:hover
                    color: $accentColor !important     
    .dropdown
        li
            a
                color: $primaryColorDark !important

    .open > a, 
    .open > a:hover, 
    .open > a:focus
        background-color: transparent !important
        color: $accentColor !important
        
    .navbar-right
        .dropdown-menu
            text-align: right !important
            min-width: 200px
            a
                font-weight: normal !important

            p
                padding-right: 20px

            .cerrar-sesion
                color: red !important

        .cerrar-sesion
            color: $errorColor !important

.table > tbody > tr > td    
    vertical-align: middle



.taula-respostes-test
    width: 85% !important
    margin: 0 auto !important

.taula-respostes-test tr, 
.taula-respostes-test td, 
.taula-respostes-test th
    color: #757575 !important
    padding: 5px !important

.tr-no-hover:hover 
    background-color: white !important

.label-success
    background-color: $successColor !important
    font-size: 14px !important

.label-danger
    background-color: $errorColor !important
    font-size: 14px !important

.btn-float
    border-radius: 50% !important
    width: 60px
    height: 60px
    position: fixed
    bottom: 50px
    .fa 
        line-height: 45px
        font-size: 20px !important

.btn-float-add
    right: 50px


.btn-float-del
    left: 50px

li .active
    background-color: $accentColor !important