@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico-Regular.ttf"); }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold; }
.bodyLogin {
  background: url("../../images/header.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  .bodyLogin .login-container {
    position: relative;
    width: 350px;
    margin: 100px auto;
    padding: 20px 40px 40px;
    background: #fff;
    border: 1px solid #ccc; }

.container-titol {
  text-align: center;
  color: #f7f7f7; }
  .container-titol h1 {
    font-size: 60px;
    font-family: Pacifico !important;
    color: #37474f !important; }

#output {
  position: absolute;
  width: 300px;
  top: -75px;
  left: 0;
  color: #fff; }

#output.alert-success {
  background: #19cc19; }

#output.alert-danger {
  background: #e46969; }

.login-container::before, .login-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 3.5px;
  left: 0;
  background: #fff;
  z-index: -1;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  border: 1px solid #ccc; }

.login-container::after {
  top: 5px;
  z-index: -2;
  -webkit-transform: rotateZ(-2deg);
  -moz-transform: rotateZ(-2deg);
  -ms-transform: rotateZ(-2deg); }

.form-box button.login {
  margin-top: 15px;
  padding: 10px 20px;
  border: 0; }

@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico-Regular.ttf"); }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold; }
body {
  background-color: #E5E5E5 !important;
  font-family: Roboto;
  color: #424242 !important;
  font-size: 16px !important; }

.breadcrumb {
  background-color: white !important; }

label {
  color: #424242 !important; }

.btn {
  border: 0 !important;
  font-size: 15px !important;
  font-weight: bold;
  transition: all 0.2s ease 0s; }
  .btn:hover {
    transition: all 0.2s ease 0s; }

.btn-default {
  color: white !important;
  background-color: #37474f !important; }
  .btn-default:hover {
    background-color: #263238 !important;
    color: white; }

.btn-autoescola {
  background-color: #16a085 !important;
  color: white !important; }
  .btn-autoescola:hover {
    background-color: #12876f !important;
    color: white !important; }

.breadcrumb {
  border-radius: 0px !important; }

.card-box {
  background-color: white;
  padding: 10px; }
  .card-box .card-accent {
    color: #16a085;
    font-size: 35px; }
  .card-box .card-body-title {
    font-size: 35px; }

.card-box-test {
  background-color: transparent !important; }
  .card-box-test a, .card-box-test span {
    color: #37474f !important; }
  .card-box-test:hover {
    background-color: #37474f !important; }
    .card-box-test:hover a, .card-box-test:hover span {
      color: white !important; }
  .card-box-test .card-test-accent {
    color: white;
    font-weight: bold; }

.panel-default {
  border: 0 !important;
  border-radius: 0 !important; }
  .panel-default .panel-heading {
    color: white !important;
    background-color: #37474f !important;
    border-radius: 0px !important; }

.active {
  color: #16a085; }

.fa {
  font-size: 16px !important;
  vertical-align: middle !important; }

nav {
  background-color: #37474f !important;
  border: 0 !important;
  color: white !important; }
  nav .icon-bar {
    color: white !important;
    background-color: white !important; }
  nav .collapsed:hover, nav .collapsed:active, nav .collapsed:visited, nav .collapsed:link {
    background-color: transparent !important; }
  nav .navbar-brand {
    color: white !important;
    font-size: 30px;
    font-family: Pacifico !important; }
    nav .navbar-brand:hover {
      color: #16a085 !important; }
  nav .navbar-nav .active {
    background-color: transparent !important;
    color: #16a085 !important; }
  nav .navbar-nav li a {
    color: white !important; }
    nav .navbar-nav li a:hover {
      color: #16a085 !important; }
  nav .dropdown li a {
    color: #263238 !important; }
  nav .open > a,
  nav .open > a:hover,
  nav .open > a:focus {
    background-color: transparent !important;
    color: #16a085 !important; }
  nav .navbar-right .dropdown-menu {
    text-align: right !important;
    min-width: 200px; }
    nav .navbar-right .dropdown-menu a {
      font-weight: normal !important; }
    nav .navbar-right .dropdown-menu p {
      padding-right: 20px; }
    nav .navbar-right .dropdown-menu .cerrar-sesion {
      color: red !important; }
  nav .navbar-right .cerrar-sesion {
    color: #c62828 !important; }

.table > tbody > tr > td {
  vertical-align: middle; }

.taula-respostes-test {
  width: 90% !important;
  margin: 10px auto !important;
  margin-bottom: 30px !important; }

.taula-respostes-test tr,
.taula-respostes-test td,
.taula-respostes-test th {
  color: #757575 !important;
  padding: 5px !important; }

.tr-no-hover:hover {
  background-color: white !important; }

.label {
  vertical-align: middle; }

.label-success {
  background-color: #2ecc71 !important;
  font-size: 14px !important; }

.label-danger {
  background-color: #c62828 !important;
  font-size: 14px !important; }

.label-warning {
  background-color: #F9A825 !important;
  font-size: 14px !important; }

.label-resposta {
  display: block;
  width: 90px !important;
  padding: 5px !important;
  vertical-align: middle; }

.btn-float {
  border-radius: 50% !important;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 50px; }
  .btn-float .fa {
    line-height: 45px;
    font-size: 20px !important; }

.btn-float-add {
  right: 50px; }

.btn-float-del {
  left: 50px; }

li .active {
  background-color: #16a085 !important; }

.img-pregunta {
  border: 2px solid #37474f;
  width: 125px;
  height: 125px;
  border-radius: 50%; }

.valign-form {
  margin-top: 3px; }

.caixa-semafor {
  display: none; }

.anim-semafor {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: -500px;
  z-index: -1;
  animation: show-semafor;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

@keyframes show-semafor {
  0% {
    margin-bottom: -500px; }
  60% {
    margin-bottom: -20px; }
  75% {
    margin-bottom: -10px; }
  70% {
    margin-bottom: -20px; }
  75% {
    margin-bottom: -10px; }
  80% {
    margin-bottom: -20px; }
  85% {
    margin-bottom: -10px; }
  90% {
    margin-bottom: -20px; }
  93% {
    margin-bottom: -10px; }
  95% {
    margin-bottom: -7px; }
  98% {
    margin-bottom: -3px; }
  100% {
    margin-bottom: 0px; } }
.semafor-verd {
  position: absolute;
  bottom: 0;
  margin-bottom: 220px;
  left: 0;
  margin-left: 13px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: transparent;
  animation: llum-verda;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards; }

@keyframes llum-verda {
  0% {
    background-color: transparent; }
  60% {
    background: -moz-radial-gradient(center, ellipse cover, rgba(71, 255, 50, 0.38) 0%, rgba(78, 187, 37, 0.28) 33%, rgba(78, 183, 36, 0.1) 35%, rgba(37, 94, 18, 0.13) 57%, rgba(35, 89, 17, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(71, 255, 50, 0.38) 0%, rgba(78, 187, 37, 0.28) 33%, rgba(78, 183, 36, 0.1) 35%, rgba(37, 94, 18, 0.13) 57%, rgba(35, 89, 17, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    background: radial-gradient(ellipse at center, rgba(71, 255, 50, 0.38) 0%, rgba(78, 187, 37, 0.28) 33%, rgba(78, 183, 36, 0.1) 35%, rgba(37, 94, 18, 0.13) 57%, rgba(35, 89, 17, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6147ff32', endColorstr='#14000000',GradientType=1 ); }
  75% {
    background: -moz-radial-gradient(center, ellipse cover, #47ff32 0%, rgba(78, 187, 37, 0.4) 33%, rgba(78, 183, 36, 0.38) 35%, rgba(37, 94, 18, 0.13) 57%, rgba(35, 89, 17, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    background: -webkit-radial-gradient(center, ellipse cover, #47ff32 0%, rgba(78, 187, 37, 0.4) 33%, rgba(78, 183, 36, 0.38) 35%, rgba(37, 94, 18, 0.13) 57%, rgba(35, 89, 17, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    background: radial-gradient(ellipse at center, #47ff32 0%, rgba(78, 187, 37, 0.4) 33%, rgba(78, 183, 36, 0.38) 35%, rgba(37, 94, 18, 0.13) 57%, rgba(35, 89, 17, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47ff32', endColorstr='#14000000',GradientType=1 ); }
  90% {
    background: -moz-radial-gradient(center, ellipse cover, rgba(71, 255, 50, 0.38) 0%, rgba(78, 187, 37, 0.28) 33%, rgba(78, 183, 36, 0.1) 35%, rgba(37, 94, 18, 0.13) 57%, rgba(35, 89, 17, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(71, 255, 50, 0.38) 0%, rgba(78, 187, 37, 0.28) 33%, rgba(78, 183, 36, 0.1) 35%, rgba(37, 94, 18, 0.13) 57%, rgba(35, 89, 17, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    background: radial-gradient(ellipse at center, rgba(71, 255, 50, 0.38) 0%, rgba(78, 187, 37, 0.28) 33%, rgba(78, 183, 36, 0.1) 35%, rgba(37, 94, 18, 0.13) 57%, rgba(35, 89, 17, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6147ff32', endColorstr='#14000000',GradientType=1 ); }
  100% {
    background: -moz-radial-gradient(center, ellipse cover, #47ff32 0%, rgba(78, 187, 37, 0.4) 33%, rgba(78, 183, 36, 0.38) 35%, rgba(37, 94, 18, 0.13) 57%, rgba(35, 89, 17, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    background: -webkit-radial-gradient(center, ellipse cover, #47ff32 0%, rgba(78, 187, 37, 0.4) 33%, rgba(78, 183, 36, 0.38) 35%, rgba(37, 94, 18, 0.13) 57%, rgba(35, 89, 17, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    background: radial-gradient(ellipse at center, #47ff32 0%, rgba(78, 187, 37, 0.4) 33%, rgba(78, 183, 36, 0.38) 35%, rgba(37, 94, 18, 0.13) 57%, rgba(35, 89, 17, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47ff32', endColorstr='#14000000',GradientType=1 ); } }
.semafor-taronja {
  position: absolute;
  bottom: 0;
  margin-bottom: 280px;
  left: 0;
  margin-left: 13px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: transparent;
  animation: llum-taronja;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards; }

@keyframes llum-taronja {
  0% {
    background-color: transparent; }
  60% {
    background: -moz-radial-gradient(center, ellipse cover, rgba(247, 125, 49, 0.5) 0%, rgba(244, 111, 48, 0.4) 33%, rgba(244, 110, 48, 0.1) 35%, rgba(158, 90, 31, 0.13) 57%, rgba(150, 86, 29, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(247, 125, 49, 0.5) 0%, rgba(244, 111, 48, 0.4) 33%, rgba(244, 110, 48, 0.1) 35%, rgba(158, 90, 31, 0.13) 57%, rgba(150, 86, 29, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    background: radial-gradient(ellipse at center, rgba(247, 125, 49, 0.5) 0%, rgba(244, 111, 48, 0.4) 33%, rgba(244, 110, 48, 0.1) 35%, rgba(158, 90, 31, 0.13) 57%, rgba(150, 86, 29, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f77d31', endColorstr='#14000000',GradientType=1 ); }
  75% {
    background: -moz-radial-gradient(center, ellipse cover, #f77d31 0%, rgba(244, 111, 48, 0.4) 33%, rgba(244, 110, 48, 0.38) 35%, rgba(158, 90, 31, 0.13) 57%, rgba(150, 86, 29, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    background: -webkit-radial-gradient(center, ellipse cover, #f77d31 0%, rgba(244, 111, 48, 0.4) 33%, rgba(244, 110, 48, 0.38) 35%, rgba(158, 90, 31, 0.13) 57%, rgba(150, 86, 29, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    background: radial-gradient(ellipse at center, #f77d31 0%, rgba(244, 111, 48, 0.4) 33%, rgba(244, 110, 48, 0.38) 35%, rgba(158, 90, 31, 0.13) 57%, rgba(150, 86, 29, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f77d31', endColorstr='#14000000',GradientType=1 ); }
  90% {
    background: -moz-radial-gradient(center, ellipse cover, rgba(247, 125, 49, 0.5) 0%, rgba(244, 111, 48, 0.4) 33%, rgba(244, 110, 48, 0.1) 35%, rgba(158, 90, 31, 0.13) 57%, rgba(150, 86, 29, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(247, 125, 49, 0.5) 0%, rgba(244, 111, 48, 0.4) 33%, rgba(244, 110, 48, 0.1) 35%, rgba(158, 90, 31, 0.13) 57%, rgba(150, 86, 29, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    background: radial-gradient(ellipse at center, rgba(247, 125, 49, 0.5) 0%, rgba(244, 111, 48, 0.4) 33%, rgba(244, 110, 48, 0.1) 35%, rgba(158, 90, 31, 0.13) 57%, rgba(150, 86, 29, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f77d31', endColorstr='#14000000',GradientType=1 ); }
  100% {
    background: -moz-radial-gradient(center, ellipse cover, #f77d31 0%, rgba(244, 111, 48, 0.4) 33%, rgba(244, 110, 48, 0.38) 35%, rgba(158, 90, 31, 0.13) 57%, rgba(150, 86, 29, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    background: -webkit-radial-gradient(center, ellipse cover, #f77d31 0%, rgba(244, 111, 48, 0.4) 33%, rgba(244, 110, 48, 0.38) 35%, rgba(158, 90, 31, 0.13) 57%, rgba(150, 86, 29, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    background: radial-gradient(ellipse at center, #f77d31 0%, rgba(244, 111, 48, 0.4) 33%, rgba(244, 110, 48, 0.38) 35%, rgba(158, 90, 31, 0.13) 57%, rgba(150, 86, 29, 0.12) 58%, rgba(0, 0, 0, 0.08) 77%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f77d31', endColorstr='#14000000',GradientType=1 ); } }
.semafor-vermell {
  position: absolute;
  bottom: 0;
  margin-bottom: 345px;
  left: 0;
  margin-left: 13px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: transparent;
  animation: llum-vermella;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards; }

@keyframes llum-vermella {
  0% {
    background-color: transparent; }
  50% {
    background: -moz-radial-gradient(center, ellipse cover, #ff3232 0%, rgba(255, 50, 50, 0.32) 36%, rgba(150, 30, 30, 0.1) 51%, rgba(144, 29, 29, 0.26) 52%, rgba(0, 0, 0, 0.05) 77%);
    background: -webkit-radial-gradient(center, ellipse cover, #ff3232 0%, rgba(255, 50, 50, 0.32) 36%, rgba(150, 30, 30, 0.1) 51%, rgba(144, 29, 29, 0.26) 52%, rgba(0, 0, 0, 0.05) 77%);
    background: radial-gradient(ellipse at center, #ff3232 0%, rgba(255, 50, 50, 0.32) 36%, rgba(150, 30, 30, 0.1) 51%, rgba(144, 29, 29, 0.26) 52%, rgba(0, 0, 0, 0.05) 77%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#0d000000',GradientType=1 ); }
  75% {
    background: -moz-radial-gradient(center, ellipse cover, #ff3232 0%, rgba(255, 50, 50, 0.32) 36%, rgba(150, 30, 30, 0.4) 51%, rgba(144, 29, 29, 0.26) 52%, rgba(0, 0, 0, 0.05) 77%);
    background: -webkit-radial-gradient(center, ellipse cover, #ff3232 0%, rgba(255, 50, 50, 0.32) 36%, rgba(150, 30, 30, 0.4) 51%, rgba(144, 29, 29, 0.26) 52%, rgba(0, 0, 0, 0.05) 77%);
    background: radial-gradient(ellipse at center, #ff3232 0%, rgba(255, 50, 50, 0.32) 36%, rgba(150, 30, 30, 0.4) 51%, rgba(144, 29, 29, 0.26) 52%, rgba(0, 0, 0, 0.05) 77%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#0d000000',GradientType=1 ); }
  90% {
    background: -moz-radial-gradient(center, ellipse cover, #ff3232 0%, rgba(255, 50, 50, 0.32) 36%, rgba(150, 30, 30, 0.1) 51%, rgba(144, 29, 29, 0.26) 52%, rgba(0, 0, 0, 0.05) 77%);
    background: -webkit-radial-gradient(center, ellipse cover, #ff3232 0%, rgba(255, 50, 50, 0.32) 36%, rgba(150, 30, 30, 0.1) 51%, rgba(144, 29, 29, 0.26) 52%, rgba(0, 0, 0, 0.05) 77%);
    background: radial-gradient(ellipse at center, #ff3232 0%, rgba(255, 50, 50, 0.32) 36%, rgba(150, 30, 30, 0.1) 51%, rgba(144, 29, 29, 0.26) 52%, rgba(0, 0, 0, 0.05) 77%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#0d000000',GradientType=1 ); }
  100% {
    background: -moz-radial-gradient(center, ellipse cover, #ff3232 0%, rgba(255, 50, 50, 0.32) 36%, rgba(150, 30, 30, 0.4) 51%, rgba(144, 29, 29, 0.26) 52%, rgba(0, 0, 0, 0.05) 77%);
    background: -webkit-radial-gradient(center, ellipse cover, #ff3232 0%, rgba(255, 50, 50, 0.32) 36%, rgba(150, 30, 30, 0.4) 51%, rgba(144, 29, 29, 0.26) 52%, rgba(0, 0, 0, 0.05) 77%);
    background: radial-gradient(ellipse at center, #ff3232 0%, rgba(255, 50, 50, 0.32) 36%, rgba(150, 30, 30, 0.4) 51%, rgba(144, 29, 29, 0.26) 52%, rgba(0, 0, 0, 0.05) 77%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#0d000000',GradientType=1 ); } }
.bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6) !important;
  z-index: -2; }

/*# sourceMappingURL=main.css.map */
